# Default values for webgis-postgis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: {{ postgis.replicaCount }}

# PostGIS container image
image:
  registry: {{ postgis.image_registry }}
  repository: {{ postgis.image_repository }}
  tag: {{ postgis.image_tag }}
  pullPolicy: {{ postgis.image_pullPolicy }}

## Deployment annotations
annotations: {}

# Service
service:
  type: {{ postgis.service_type }}
  port: {{ postgis.service_port }}
  targetPort: {{ postgis.service_targetPort }}
  portName: {{ postgis.service_portName }}

  annotations: {}

## Strategy used to replace old Pods by new ones
## Ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
##
strategy: {}
  # type: RollingUpdate
  # rollingUpdate:
  #   maxSurge: 0
  #   maxUnavailable: 1

persistentVolume:
  ## If true, PostGIS will create/use a Persistent Volume Claim
  ## If false, use emptyDir
  ##
  enabled: {{ postgis.persistentVolume_enabled }}

  ## PostGIS Persistent Volume Claim annotations
  ##
  annotations: {}

  ## PostGIS Persistent Volume access modes
  ## Must match those of existing PV or dynamic provisioner
  ## Ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
  accessModes:
    - {{ postgis.persistentVolume_accessModes }}

  ## PostGIS Persistent Volume Size
  ##
  size: {{ postgis.persistentVolume_size }}

  ## PostGIS Persistent Volume Storage Class
  ## For microk8s we use 'microk8s-hostpath'
  storageClass: "{{ postgis.persistentVolume_storageClass }}"
  existingClaim: "{{ postgis.persistentVolume_existingClaim }}"

## PostGIS startup configuration
## Values in here get injected as environment variables
## Needed chart reinstall for apply changes
env:
  postgres_user: {{ postgis.env_postgres_user }}
  postgres_password: {{ postgis.env_postgres_password }}
