Hi!

Zur Änderung Ihres Passworts klicken Sie bitte auf den folgenden Link:

Dazu klicken Sie bitte auf folgenden Link:
<p>
  <a href="https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}">
    https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}
  </a>
</p>

Viele Grüße vom SC Team!
