Hi!

Ihr Account wurde erfolgreich angelegt. Jetzt muss nur noch die Email bestätigt werden.

Dazu klicken Sie bitte auf folgenden Link:
https://fa.{{ DOMAIN }}/email/verify/${verificationId}?tenantId=${user.tenantId}

Viele Grüße vom SC Team!
