Hi!

Ihr Account wurde erfolgreich angelegt. Jetzt muss nur noch die Email bestätigt werden.

Dazu klicken Sie bitte auf folgenden Link:
<p>
  <a href="https://fa.{{ DOMAIN }}/email/verify/${verificationId}?tenantId=${user.tenantId}">
    https://fa.{{ DOMAIN }}/email/verify/${verificationId}?tenantId=${user.tenantId}
  </a>
</p>

Viele Grüße vom SC Team!
