export FUTR_HUB_DOCKER_REGISTRY=localhost:5000/futr-hub/ansible-control-node
export FUTR_HUB_GIT_REPO=git@gitlab.com:berlintxl/futr-hub/platform/data-platform-k8s.git
export FUTR_HUB_GIT_BRANCH=master
export FUTR_HUB_GIT_CLONE_DIR=data-platform-k8s
export FUTR_HUB_GIT_SSHKEY_PATH=$HOME/.ssh/
export FUTR_HUB_GIT_SSHKEY=
export FUTR_HUB_ACN_SSHKEY_PATH=$HOME/.ssh/
export FUTR_HUB_ACN_SSHKEY=
