{
  "name": "Basic Plan",
  "description": "Basic Plan based on API Key",
  "validation": "AUTO",
  "security": "API_KEY",
  "type": "API",
  "status": "PUBLISHED",
  "paths": {
  },
  "comment_required": false
}
