{
    "description": "Default ODP BTLX application",
    "name": "{{ gravitee.PORTAL_APPLICATION }}",
    "settings": {
        "app": {
            "client_id": "{{ IDM_CLIENT_API_ACCESS }}"
        }
    }
}