Hi!

Zur Änderung Ihres Passworts klicken Sie bitte auf den folgenden Link:

Dazu klicken Sie bitte auf folgenden Link:
https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}

Viele Grüße vom SC Team!
