{
    "username": "{{ E2ETEST_USER_EMAIL }}",
    "enabled": true,
    "totp": false,
    "emailVerified": true,
    "firstName": "{{ E2ETEST_USER_FIRST_NAME }}",
    "lastName": "{{ E2ETEST_USER_SURNAME }}",
    "email": "{{ E2ETEST_USER_EMAIL }}",
    "disableableCredentialTypes": [],
    "requiredActions": ["updatePassword"],
    "notBefore": 0,
    "access": {
        "manageGroupMembership": true,
        "view": true,
        "mapRoles": true,
        "impersonate": true,
        "manage": true
    }
}
