{
    "username": "{{ ADMIN_USERNAME }}",
    "enabled": true,
    "totp": false,
    "emailVerified": true,
    "firstName": "{{ PLATFORM_ADMIN_FIRST_NAME }}",
    "lastName": "{{ PLATFORM_ADMIN_SURNAME }}",
    "email": "{{ PLATFORM_ADMIN_EMAIL }}",
    "disableableCredentialTypes": [],
    "requiredActions": ["updatePassword"],
    "notBefore": 0,
    "access": {
        "manageGroupMembership": true,
        "view": true,
        "mapRoles": true,
        "impersonate": true,
        "manage": true
    }
}
